
#header_sortMenu
{
	float:left;
	text-align:right;
	overflow:hidden;
	font-size:70%;
	font-family:@fontMenu;
}

#header_userMenu
{
	position:absolute;
	left:100%;
	z-index:5;
	
	width:140px;
	margin-left:-161px;
	padding-right:10px;
	padding-left:10px;
	
	background:#EEE;
	border: 1px solid @colorBorderOther;
	border-top: 0;
	border-right: 0;
	border-bottom-left-radius: 6px;
	box-shadow: 0px 1px 5px #888;
	
	font-size:70%;
	text-align:right;
}

#header_userMenu div:nth-child(2)
{
	margin-top:4px;
	border-top: 1px dotted @colorBorderOther2;
}

#sortMenu ul{list-style:none;}
#sortMenu a:hover{color: #C44;background:#EEE;}

/*
	Media Queries
*/

@media(max-width: 959px), (orientation:portrait)
{

	#catTitle
	{
		position:absolute;
		z-index:2;
		
		left:100%;
		width:138px;
		height:80px;
		margin-left:-138px;
		overflow:hidden;
		
		font-family:@fontMenu;
	}

	#catTitle a
	{
		display: block;
		margin-top:50px;
		padding: 8px 10px;
		
		border-top:1px solid #CCC;
		background:#FFF;
		color: #000;
		font-family:@fontMenu;
		text-decoration: none;
	}

	#sortMenu
	{
		visibility:hidden;
		position:absolute; 
		left: 100%;
		top:104px;
		z-index:5;
		
		width:134px;
		margin-left:-138px;
		
		background:#CCC;
		border-left:4px solid #C44;
	}
	
	#sortMenu a
	{
		display: block;
		padding: 8px 10px;
		
		text-decoration: none;
		border-top:1px solid #CCC;
		background:#FFF;
		color: #000; 
	}
	
	#sortMenu li:first-child{border-top:0;}
	#sortMenu .mLinkSelected, #catTitle a:hover{background:#EEE;color: #C44;}
	#sortMenu li:last-child{border-bottom:4px solid #C44;}
}

@media(min-width: 960px) and (orientation:landscape)
{
	#header_userMenu
	{
		width:220px;
		margin-left:-240px;
		font-size:80%;
	}

	#catTitle{
		position:relative;
		z-index:4;
		display: table-cell;
		height:80px;
		
		vertical-align:bottom;
		text-align:right;
	}
	
	#catTitle a{display: inline-block;margin-bottom:1px;}
	
	#sortMenu
	{
		visibility:visible;
		position:relative;
		z-index:4;
		display: table-cell;
		height:80px;
		
		vertical-align:bottom;
		text-align:right;
	}

	#sortMenu li{float:left;margin: 0 6px;}

	#sortMenu a
	{
		display: block;
		padding: 8px 10px;
		text-decoration: none;
		
		border-top:1px solid #CCC;
		background:#FFF;
		color: #000; 
	}

	#sortMenu .mLinkSelected
	{
		margin-top:4px;
		padding-top: 8px;
		padding-bottom: 4px;
		
		background:#EEE;
		color: #C44;
	}
}